
.home-container {
  background-color: #fff;
}

.videos-full {
  margin: 0 40px;
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}

.navigation-bar {
  margin-top: -37px;
}

